{% extends "notify/headers.html" %}

{% block content %}
  <h1>Registered Devices</h1>
  {% if object_list %}
    <ul>
      {% for device in object_list %}
        <li>
          <span>Device ID: {{ device.id }}</span>
          <a href="/device/{{ device.id }}">{{ device.name }}</a>
          <a href="/device/{{ device.id }}/delete">delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no registered devices.</p>
  {% endif %}
  <a href="/device/add">add</a>
{% endblock %}
